@import '../../common';

.heat-map-legend {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style: none;

  &__item {
    flex-basis: 20%;
    flex-shrink: 1;
    flex-grow: 1;
    margin-left: 0.5rem;
  }

  &__item:first-child {
    margin-left: 0;
  }

  &__visual {
    box-sizing: border-box;
    height: 0.75rem;
    width: 100%;
    margin-bottom: 0.5rem;
    border-radius: calc(2 / 16 * 1rem);
  }

  &__visual_scale {
    position: relative;
    padding: 0.25rem;
    border-radius: 0;
  }

  &__visual_scale div {
    height: 0.25rem;
    background: radial-gradient(51.52% 129.57% at 48.48% 50%, rgba(64, 59, 54, 0) 0%, rgba(19, 18, 17, 0.5) 100%);
    box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.25), inset 3px 1px 16px rgba(112, 102, 94, 0.3);

    .theme_light & {
      background: radial-gradient(
        2408.25% 2730.55% at 89.06% 78.28%,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.8) 100%
      );
      box-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.2), inset 1px 1px 16px rgba(103, 103, 103, 0.2);
    }
  }

  &__visual_scale::before,
  &__visual_scale::after {
    position: absolute;
    z-index: 2;
    top: 0;
    height: 100%;
    width: 0.25rem;
    background: radial-gradient(150% 252.96% at 150% 50%, rgba(64, 59, 54, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%);
    box-shadow: inset 0px -1px 2px rgba(255, 255, 255, 0.25), inset 3px 1px 16px rgba(112, 102, 94, 0.3);
    border-radius: 2px;
    content: '';

    .theme_light & {
      background: radial-gradient(
        2408.25% 2730.55% at 89.06% 78.28%,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.8) 100%
      );
      box-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.2), inset 1px 1px 16px rgba(103, 103, 103, 0.2);
    }
  }

  &__visual_scale::before {
    left: 0;
  }

  &__visual_scale::after {
    right: 0;
    transform: scale(-1, 1);
  }

  &__visual_min {
    background: radial-gradient(3906.1% 3815.36% at 89.06% 78.28%, rgba(19, 17, 16, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%);
    box-shadow: inset -1px 0px 2px rgba(255, 255, 255, 0.2), inset 1px 1px 16px rgba(112, 102, 94, 0.2);

    .theme_light & {
      background: radial-gradient(
        2408.25% 2730.55% at 89.06% 78.28%,
        rgba(250, 250, 250, 0.6) 0%,
        rgba(250, 250, 250, 0.6) 100%
      );
      box-shadow: inset -1px 0px 2px rgba(250, 250, 250, 0.2), inset 1px 1px 16px rgba(106, 106, 106, 0.2);
    }
  }

  &__visual_mid {
    background: radial-gradient(
      5752.25% 5190.32% at 74.43% 60.32%,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(35, 22, 0, 0.9) 0.01%,
      rgba(112, 92, 94, 0.9) 100%
    );
    box-shadow: inset -1px 0px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 10px rgba(93, 116, 141, 0.6);

    .theme_light & {
      background: radial-gradient(
        2408.25% 2730.55% at 89.06% 78.28%,
        rgba(250, 250, 250, 0.8) 0%,
        rgba(250, 250, 250, 0.8) 100%
      );
      box-shadow: inset -1px 0px 2px rgba(250, 250, 250, 0.2), inset 1px 1px 16px rgba(106, 106, 106, 0.3);
    }
  }

  &__visual_max {
    background: radial-gradient(
      5528.36% 3005.63% at 74.43% 75.84%,
      rgba(0, 0, 0, 0.9) 0%,
      rgba(33, 22, 2, 0.9) 0.01%,
      rgba(172, 113, 9, 0.9) 100%
    );
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 10px rgba(242, 159, 13, 0.2);

    .theme_light & {
      background: radial-gradient(68.1% 68.1% at 4.41% 31.9%, #fff6dd 8.72%, #fffefa 100%);
      box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4);
    }
  }

  &__visual_extra {
    background: radial-gradient(2258.03% 620.37% at 83.33% 88.95%, #201502 0%, #c7830a 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.2), inset 2px 2px 10px rgba(242, 159, 13, 0.9);

    .theme_light & {
      background: radial-gradient(66.02% 86.49% at -16.18% 13.51%, rgba(255, 186, 6, 0.85) 0%, #fff2ad 100%);
      box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4);
    }
  }

  &__text {
    @extend %body;
    @extend %secondary-font-color;

    @media (orientation: portrait) {
      text-align: left;

      &_landscape {
        display: none;
      }
    }

    @media (orientation: landscape) {
      text-align: center;

      &_portrait {
        display: none;
      }
    }
  }
}
