mixin button(params = {})
    -
        const attrs = { ...attributes };
        //- const mods = [].concat(params.mods).filter(Boolean).map(mod => `button_${mod}`);
        const classes = [];

        if (params.disabled) {
            classes.push('button_disabled');
        }

        if (params.direction) {
            classes.push('button_direction_' + params.direction);
        }

        const dataAction = params.action.type ?? '';
        const dataParams = JSON.stringify(params.action.data ?? '');


    .button(class=classes, data-action=dataAction, data-params=dataParams)
        include button.svg