include ../person/person.pug
include ../header/header.pug

-
    const selectedEmoji = 'ðŸ‘';
    const leaders = users.map((user, index) => [index + 1, user]).slice(0, 4);
    const selectedUserIndex = selectedUserId ? users.findIndex((userData) => userData.id === selectedUserId) : -1;
    
    if (selectedUserIndex > 4) {
        leaders.push([selectedUserIndex + 1, users[selectedUserIndex]]);
    } else {
        leaders.push([5, users[4]]);
    }

.leaders-slide
    header.leaders-slide__header
        +header(title, subtitle)
    main.leaders-slide__content 
        ul.leaders-slide__list
            each leader in leaders
                -
                    const [place, userData] = leader;
                    const { avatar, name, valueText: caption } = userData;
                    const userEmoji = place === 1 ? emoji
                        : userData.id === selectedUserId ? selectedEmoji
                        : '';

                li.leaders-slide__awardee
                    .leaders-slide__person
                        +person({ avatar, name, caption, emoji: userEmoji })
                    .leaders-slide__pedestal 
                        .leaders-slide__pedestal-bg
                        .leaders-slide__place-number= place

                        if place === 1 && selectedUserIndex > 2
                            .leaders-slide__selected-participant
                                - const [selectedUserPlace, selectedUser] = leaders[4];

                                .leaders-slide__person
                                    +person({ 
                                        avatar: selectedUser.avatar,
                                        name: selectedUser.name,
                                        caption: selectedUser.valueText,
                                        emoji: selectedEmoji,
                                        mods: ['alternative-caption']
                                    })
                                .leaders-slide__place-number= selectedUserPlace



        