doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
        link(rel="stylesheet", href="stories.css")
        title= title
    body(class=`theme_${theme}`)
        script(type="text/javascript", src="stories.js")
        script.
            const body = document.querySelector('body');
            body.innerHTML = window.renderTemplate('!{ alias }', JSON.parse('!{ data }'));