@import '../../common';

.chart-slide {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  // @media (orientation: landscape) {
  //   align-items: center;
  // }

  &__header {
    padding: 1.25rem 1.5rem calc((398 - 270 / 70 * 100) / 16 * 1rem);

    @media (orientation: landscape) {
      padding-bottom: calc((180 - 117 / 70 * 100) / 16 * 1rem);
    }
  }

  &__content {
    width: 100%;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__graph {
    box-sizing: border-box;
    width: 100%;
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;

    @media (orientation: landscape) {
      max-width: 37.5rem;
      height: 100%;
      max-height: calc(197 / 16 * 1rem);
      flex-shrink: 0;
    }
  }

  &__leaders {
    box-sizing: content-box;
    width: calc(100% - 3rem);
    max-width: calc(474 / 16 * 1rem);
    padding: 1.5rem;
  }
}
