@import '../../common';

.diagram-slide {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    padding-top: 1.25em;
  }

  &__content {
    width: 100%;
    padding-bottom: 1.5em;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @media (orientation: landscape) {
      max-width: 36.5rem;
      padding-bottom: 0;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__circle {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (orientation: landscape) {
      flex-grow: 0;
      width: calc(240 / 584 * 100%);
    }
  }

  &__categories {
    @media (orientation: landscape) {
      width: calc(303 / 584 * 100%);
    }
  }

  &__category {
    position: relative;
    padding-left: calc(26 / 16 * 1em);
    display: flex;
  }

  &__category::before {
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 0.5rem);
    width: 1em;
    height: 1em;
    border-radius: 50%;
    transform: matrix(1, 0, 0, -1, 0, 0);
  }

  &__category_1::before {
    background: radial-gradient(
      49.84% 49.84% at 49.84% 50.16%,
      rgba(255, 163, 0, 0.8) 71.88%,
      rgba(91, 58, 0, 0.8) 100%
    );
    box-shadow: 0px 0px 20px -8px rgba(248, 158, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5),
      inset 0px 0px 20px rgba(255, 162, 0, 0.9);

    .theme_light {
      background: radial-gradient(
        49.84% 49.84% at 49.84% 50.16%,
        rgba(255, 184, 0, 0.56) 81.25%,
        rgba(255, 239, 153, 0.32) 100%
      );
      box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.9);
    }
  }

  &__category_2::before {
    background: radial-gradient(49.84% 49.84% at 49.84% 50.16%, rgba(99, 63, 0, 0.5) 72.92%, rgba(15, 9, 0, 0.5) 100%);
    box-shadow: 0px 0px 20px -8px rgba(147, 93, 0, 0.2), inset -1px 1px 1px rgba(255, 255, 255, 0.5),
      inset 0px 0px 20px rgba(202, 129, 0, 0.9);

    .theme_light & {
      background: radial-gradient(
        49.84% 49.84% at 49.84% 50.16%,
        rgba(255, 184, 0, 0.24) 81.25%,
        rgba(255, 239, 153, 0.12) 100%
      );
      box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(255, 176, 57, 0.4);
    }
  }

  &__category_3::before {
    background: radial-gradient(100% 100% at 50% 0%, rgba(151, 151, 151, 0.5) 0%, rgba(41, 41, 41, 0.5) 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5);

    .theme_light & {
      background: radial-gradient(
        49.84% 49.84% at 49.84% 50.16%,
        rgba(166, 166, 166, 0.1725) 82.81%,
        rgba(203, 203, 203, 0.05) 92.19%
      );
      box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(105, 105, 105, 0.2);
    }
  }

  &__category_4::before {
    background: radial-gradient(100% 100% at 50% 0%, rgba(62, 62, 62, 0.5) 0%, rgba(40, 40, 40, 0.5) 100%);
    box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5);

    .theme_light & {
      background: radial-gradient(
        49.84% 49.84% at 49.84% 50.16%,
        rgba(191, 191, 191, 0.345) 82.81%,
        rgba(228, 228, 228, 0.1) 92.19%
      );
      box-shadow: inset -1px 1px 1px rgba(255, 255, 255, 0.5), inset 0px 0px 20px rgba(131, 131, 131, 0.6);
    }
  }

  &__category-title {
    @extend %primary-font-color;
    flex-grow: 1;
  }

  &__category-difference {
    @extend %secondary-font-color;
    margin-right: 1em;
  }

  &__category-value {
    @extend %secondary-font-color;
  }
}
