$primary-font-color-dark: #fcfbf7;
$primary-font-color-light: #261c00;
$secondary-font-color-dark: #918f8a;
$secondary-font-color-light: #bfbfbf;

%primary-font-color {
  color: $primary-font-color-dark;

  .theme_light & {
    color: $primary-font-color-light;
  }
}

%secondary-font-color {
  color: $secondary-font-color-dark;

  .theme_light & {
    color: $secondary-font-color-light;
  }
}

%headline {
  font-size: 1.875em;
  line-height: calc(100% + 2px);
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0px;
}

%subhead {
  font-size: 1.25em;
  line-height: calc(100% + 2px);
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0px;
}

%body {
  font-size: 1em;
  line-height: calc(100% + 2px);
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
}

%caption {
  font-size: 0.875em;
  line-height: calc(100% + 2px);
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0px;
}
