@import './common';

html,
body {
  @include body;

  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  background: radial-gradient(circle at 50% 50%, #120c01 0%, #000000 100%);
  font-size: calc(16px + 1 / 94 * (100vw - 376px));

  @media (orientation: landscape) {
    font-size: calc(16px + 1 / 94 * (100vh - 376px));
  }
}
